*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    justify-content: end;
    max-width: 1152px;
    margin: 27px auto 0;
}

nav a {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    margin-right: 23px;
}

#sobre-mim {
    width: 860px;
    margin: 175px auto 0;
    display: flex;
    justify-content: space-between;
}

#sobre-mim div h1 {
    font-size: 44px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 40px;
}

#sobre-mim div p {
    width: 497px;
    font-size: 16px;
    line-height: 23px;
}

#sobre-mim div button {
    margin-top: 38px;
    width: 208px;
    height: 47px;
    border-radius: 2px;
    border: none;
    background: #DE8373;
    font-weight: 500;
    font-size: 20px;
    line-height: 9px;
    color: #fff;
}

#sobre-mim div img {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}

#meus-projetos {
    background: #6495ED;
    padding: 24px 0;
    margin: 70px 0;
}

#meus-projetos h2 {
    font-size: 28px;
    color: #fff;
}

#meus-projetos section {
    width: 860px;
    margin: 0 auto;
}

.projetos-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 21px;
}

.projetos-conteudo div {
    background: #fff;
    width: 49%;
    margin: 0 0 20px 0;
    padding-bottom: 16px;
    border-radius: 8px;
}

.projetos-conteudo div a {
    text-decoration: none;
    color: #000;
}

.projetos-conteudo div div {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    background-image: url(img/imagem.jpg);
    background-size: cover;
}

.projetos-conteudo div h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 14px 0 9px 23px;
}

.projetos-conteudo div p {
    font-size: 16px;
    margin-left: 23px;
}

#habilidades-conteudo {
    width: 100%;
}

#habilidades-conteudo h2 {
    font-size: 28px;
    text-align: center;
}

#habilidades-conteudo div {
    width: 100%;
    background: #6495ED;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

#habilidades-conteudo div img {
    height: 75px;
}

#habilidades-conteudo div img + img {
    margin-left: 23px;
}

#experiencias-conteudo {
    width: 1080px;
    margin: 55px auto;
}

#experiencias-conteudo section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#experiencias-conteudo h2 {
    margin: 0 0 15px 110px;
    font-size: 28px;
}

.item-experiencia {
    width: 480px;
    padding: 20px 20px 27px 20px;
    background: #6495ED;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
    border-radius: 48px;
    color: #fff;
}

.item-experiencia img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #fff;
}

.item-experiencia h3 {
    font-size: 36px;
    margin: auto 0 0 13px;
}

.item-experiencia p {
    margin-top: 12px;
    font: 16px;
}

.item-experiencia span {
    margin: 26px 0;
    width: 100%;
    font-size: 22px;
}

.item-experiencia ul {
    width: 100%;
    margin-left: 20px;
}

.item-experiencia ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #e0e0e0;
    padding-top: 31px;
}

footer p {
    width: 100%;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 45px;
}

footer img + img {
    margin-left: 35px;
}

@media (max-width: 400px) {
   nav {
    width: 100%;
   }

   nav a {
    font-size: 15px;
   }

   #sobre-mim {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
   }

   #sobre-mim div h1{
    font-size: 32px;
    margin-bottom: 44px;
   }

   #sobre-mim div p {
    font-size: 16px;
    width: 328px;
    text-align: center;
   }

   #sobre-mim div img{
    width: 177px;
    height: 177px;
    margin-bottom: 36px;
   }

   #sobre-mim div button {
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   #meus-projetos {
    display: flex;
   }

   #meus-projetos section h2 {
    font-size: 22px;
    text-align: center;
   }

   .projetos-conteudo {
    display: flex;
    flex-wrap: wrap;
   }

   .projetos-conteudo div {
    width: 354px;
    margin-right: auto;
    margin-left: auto;
   }

   .projetos-conteudo div h3 {
    font-size: 22px;
   }

   .projetos-conteudo div p {
    font-size: 16px;
    max-width: 314px;
   }

   #habilidades-conteudo h2 {
    font-size: 24px;
   }

   #habilidades-conteudo div {
    flex-wrap: wrap;
    padding: 4px 0 34px;
   }
   
   #habilidades-conteudo img, #habilidades-conteudo img + img {
    margin: 40px 30px 0;
   }

   #experiencias-conteudo {
    width: 100%;
   }

   #experiencias-conteudo section {
    flex-wrap: wrap;
   }

   .item-experiencia {
    width: 355px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
   }

   .item-experiencia img {
    width: 70px;
    height: 70px;
   }

   .item-experiencia h3 {
    font-size: 24px;
   }

   .item-experiencia p {
    font-size: 12px;
   }

   .item-experiencia span {
    font-size: 18px;
   }

   .item-experiencia ul li {
    font-size: 15px;
   }

   footer {
    width: 100%;
   }
}
